/* TODO define colors
 Lightest: #DCDCDC
 80     #D3D3D3
 60     #C0C0C0
 40     #A9A9A9
 20     #808080
 10  	#696969


 */

/*
export let fontSansBold = Utils.loadWebFont('IBM Plex Sans', 700);
export let fontSans = Utils.loadWebFont('IBM Plex Sans', 400);
export let fontMono = Utils.loadWebFont('IBM Plex Mono', 400);
export let fontIcons = Utils.loadWebFont('Material Icons', 400);
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IBM Plex Sans, sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    padding: 0.5rem;
}

h2 {
    color: white;
    padding: 0.1rem;
    background-color: black;
    font-size: 16px;
    font-weight: 700;
}

/*export const ITALIC_FONT_SMALL = 'italic 400 12px IBM Plex Sans'; /*/
h3 {
    color: #808080;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

.container {
    min-width: 780px;
    max-width: 1260px;
    margin: 10px auto;
}

.tab-bar {
    display: flex;
}

.tab {
    color: white;
    background-color: gray;
    padding: 0.3rem 1rem;
    font-size: 16px;
    font-weight: 700;
}

.tab.active {
    background-color: black;
    font-size: 16px;
    font-weight: 700;
}

.idea-grid-container {
    border-top: black 5px solid;
    display: flex;
}

.idea-grid {
    height: 550px;
    width: 1105px;
    background: #F1F0F0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}


/* Cells */

/*
Cell Content ist Box63:
 width="48" height="48"

 hsl(0, 0%, 92%)

 shadowColor: Colors.c_lgray,
shadowX : 2,
shadowY : 2,
shadowBlur : 0,

 */
.idea-tile {
    height: 48px;
    width: 48px;
    margin: 4px;
    background: hsl(0, 0%, 92%);
    box-shadow: 2px 2px #D8D8D8;
    outline: 3px solid transparent;
    position: relative;
}

.idea-tile:hover {
    outline: 3px solid gray;
}

.idea-tile:hover .tooltip {
    visibility: visible;
}

.idea-tile .tooltip {
    visibility: hidden;
    width: 140px;
    height: 140px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;

    position: absolute;
    top: 60px;
    z-index: 1;
}

/*
.clusterA {
    outline: 1px solid yellow;
}

.clusterB {
    outline: 1px solid green;
}

.clusterC {
    outline: 1px solid blue;
}*/

/* TODO make the tooltip div the same size always */
/* TODO This is seriously broken :/ */
.idea-tile .tooltip-body span {
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.annotations {
    display: flex;
    flex-wrap: wrap;
}

.toolbox {
    width: 100%;
    background-color: #DCDCDC;
}

.toolbox-body {
    padding: 0.4rem;
}


.toolbox-row-element {
    padding: 0.2rem;
    margin-bottom: 1px;
}

/* TODO toolbox-row-element-icon? tollbox-row-element-toolbar? */

.idea-toolbox-header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
}

/* Active Markers */
.active-marker {
    display: flex;
    background-color: #C0C0C0;
}

.active-marker-toolbar {
    display: flex;
}

.active-marker i {
    cursor: pointer;
}

.marker-selection-menu {
    background-color: white;
    opacity: 0.9;
    position: absolute;
    width: 200px;
    height: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* Snapshots */
.snapshot-pane {
    margin-top: 6rem;
}

.snapshot-element {
    display: flex;
    justify-content: space-between;
    background-color: #C0C0C0;
}

.snapshot-element-toolbar {
    display: flex;
}

.snapshot-element-toolbar div {
    margin: 0.3rem;
}

/* Available Markers */
.available-marker {
    background-color: #C0C0C0;
    cursor: pointer;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    height: 600px;
    width: 600px;
    background: #F1F0F0;
}

/* Init Modal */
/* background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 0.5rem;
}

/* Form Styling -> in the long run, replace this */
.form-control-vertical {
    display: flex;
    flex-direction: column;
}

.form-control-vertical label {
    margin: 0.3rem 1rem;
}

.form-control-vertical input {
    margin-right: 1rem;
}

/* Loader */
.loader {
    border: 16px solid #ffffff; /* Light grey */
    border-top: 16px solid #232323; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}